.git
.gitignore
.github
.env
.env.example
vendor
node_modules
npm-debug.log
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
tests
.phpunit.result.cache
docker/nginx
README.md
.editorconfig
.styleci.yml
phpunit.xml
