services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
      tags:
        - php_app:latest
    image: php_app:latest
    container_name: php_app
    restart: unless-stopped
    working_dir: /var/www/html
    user: root
    environment:
      - PHP_IDE_CONFIG=serverName=localhost
      - DB_HOST=${DB_HOST}
      - DB_PORT=${DB_PORT}
      - DB_DATABASE=${DB_DATABASE}
      - DB_USERNAME=${DB_USERNAME}
      - DB_PASSWORD=${DB_PASSWORD}
      - REDIS_HOST=redis
      - REDIS_PORT=6379
      - REDIS_PASSWORD=${REDIS_PASSWORD:-null}
      - MAIL_HOST=mailpit
      - MAIL_PORT=1025
      - MAIL_FROM_ADDRESS=${MAIL_FROM_ADDRESS:-hello@example.com}
    volumes:
      - ./app:/var/www/html/app
      - ./bootstrap/app.php:/var/www/html/bootstrap/app.php
      - ./bootstrap/providers.php:/var/www/html/bootstrap/providers.php
      - ./config:/var/www/html/config
      - ./database:/var/www/html/database
      - ./public:/var/www/html/public
      - ./resources:/var/www/html/resources
      - ./routes:/var/www/html/routes
      - ./tests:/var/www/html/tests
      - ./storage/logs:/var/www/html/storage/logs
      - ./artisan:/var/www/html/artisan
      - ./composer.json:/var/www/html/composer.json
      - ./composer.lock:/var/www/html/composer.lock
      - ./package.json:/var/www/html/package.json
      - ./phpunit.xml:/var/www/html/phpunit.xml
      - ./vite.config.ts:/var/www/html/vite.config.ts
      - ./.env:/var/www/html/.env
    depends_on:
     - postgres
     - redis
    networks:
      - laravel_network
    ports:
      - "80:8080"
      - "5173:5173"

  postgres:
    image: postgres:alpine
    container_name: postgres
    restart: unless-stopped
    environment:
      POSTGRES_USER: ${DB_USERNAME}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_DATABASE}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql
    networks:
      - laravel_network

  adminer:
    image: adminer
    restart: always
    ports:
      - "8080:8080"
    networks:
      - laravel_network

  redis:
    image: redis:7-alpine
    container_name: redis
    restart: unless-stopped
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    networks:
      - laravel_network
    command: redis-server --appendonly yes

  mailpit:
    image: axllent/mailpit:v1.27.10
    container_name: mailpit
    restart: unless-stopped
    ports:
      - "8025:8025"  # Web UI
      - "1025:1025"  # SMTP
    networks:
      - laravel_network

networks:
  laravel_network:
    driver: bridge

volumes:
  postgres_data:
  redis_data:
